src/wbtc_manager/NodeRED/flows.json
[{"id":"783e2363.8a8fe4","type":"tab","label":"TimeCircuitDisplayFlow","disabled":false,"info":""},{"id":"1d97907b.e809f8","type":"tab","label":"FluxCapacitorFlow","disabled":false,"info":""},{"id":"89d4c97a.d8a1c8","type":"tab","label":"TimeControlFlow","disabled":false,"info":""},{"id":"dff85f90.0f85b8","type":"ui_group","z":"","name":"Time Circuit Display","tab":"b3ebc644.316df8","order":2,"disp":true,"width":"6","collapse":false},{"id":"77b86f6e.ea5f78","type":"ui_base","z":"","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#c90006","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Back To The Future","default":"#4B7930","baseColor":"#bd2802","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#bd2802","edited":true},"page-titlebar-backgroundColor":{"value":"#bd2802","edited":false},"page-backgroundColor":{"value":"#00041d","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#fc3f0f","edited":false},"group-borderColor":{"value":"#456381","edited":true},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#bd2802","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Web Based Time Converter","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e002930c.0237f8","type":"ui_group","z":"","name":"Flux Capacitor","tab":"b3ebc644.316df8","order":3,"disp":true,"width":"6","collapse":false},{"id":"b3ebc644.316df8","type":"ui_tab","z":"","name":"Web Based Time Converter (by LOCHE Jérémy)","icon":"timelapse","disabled":false,"hidden":false},{"id":"cadc43d6.955288","type":"ui_group","z":"","name":"Time Control","tab":"b3ebc644.316df8","order":1,"disp":true,"width":"6","collapse":false},{"id":"7a524966.fef8a","type":"ui_switch","z":"783e2363.8a8fe4","name":"tcd_power_switch","label":"Power","tooltip":"Set on or off the display","group":"dff85f90.0f85b8","order":5,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"tcd_power","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":670,"y":100,"wires":[["53de0e57.e86388","a2fff5f1.765d3"]]},{"id":"9b95ba3f.a43c7","type":"ui_slider","z":"783e2363.8a8fe4","name":"tcd_brightness_slider","label":"Brightness","tooltip":"Apply brightness to the Time Circuit Display","group":"dff85f90.0f85b8","order":6,"width":"6","height":"1","passthru":true,"outs":"end","topic":"tcd_brightness","min":"0","max":"100","step":"5","x":680,"y":260,"wires":[["1dee93de.094e1c"]]},{"id":"416b1c7b.ed7904","type":"inject","z":"783e2363.8a8fe4","name":"","topic":"tcd_conf_init","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":160,"wires":[["b0adde84.81bd3"]]},{"id":"b9ed3c5c.c0867","type":"ui_text","z":"783e2363.8a8fe4","group":"dff85f90.0f85b8","order":4,"width":"6","height":"2","name":"tcd_displayed_date","label":"Displayed Date","format":"{{msg.payload.toUpperCase()}}","layout":"col-center","x":760,"y":380,"wires":[]},{"id":"c581da28.b5cad8","type":"inject","z":"783e2363.8a8fe4","name":"tcd_displayed_date","topic":"","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":380,"wires":[["979b7c4b.3ab8f"]]},{"id":"979b7c4b.3ab8f","type":"exec","z":"783e2363.8a8fe4","command":"date +\"%b %d %Y  %H:%M\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"tcd_displayed_date_format","x":480,"y":380,"wires":[["b9ed3c5c.c0867"],[],[]]},{"id":"53de0e57.e86388","type":"ui_text","z":"783e2363.8a8fe4","group":"dff85f90.0f85b8","order":7,"width":"2","height":"1","name":"tcd_on_off_text","label":"","format":"{{msg.payload ? \"ON\":\"OFF\"}}","layout":"col-center","x":1020,"y":100,"wires":[]},{"id":"9bacf1a4.fb30c8","type":"ui_switch","z":"783e2363.8a8fe4","name":"tcd_service_state","label":"Time Circuit Display Service","tooltip":"","group":"dff85f90.0f85b8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"close","offcolor":"red","x":890,"y":480,"wires":[[]]},{"id":"3a8e0fa.1294b7","type":"inject","z":"783e2363.8a8fe4","name":"tcd_service_check","topic":"","payload":"true","payloadType":"bool","repeat":"6","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":460,"wires":[["38e571c8.0adec6"]]},{"id":"38e571c8.0adec6","type":"exec","z":"783e2363.8a8fe4","command":"timecircuitctl status","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"tcd_read_service_status","x":470,"y":480,"wires":[[],[],["9968cd05.524a88"]]},{"id":"37d0eed0.0902b2","type":"function","z":"783e2363.8a8fe4","name":"tcd_parse_state","func":"//Retrieve brightness value\nvar tcd_conf=msg.payload;\n\nmsg_power={};\nmsg_brightness={};\nmsg_power.payload= tcd_conf.power === \"on\";\nmsg_brightness.payload=tcd_conf.brightness;\n\nreturn [msg_power,msg_brightness];\n","outputs":2,"noerr":0,"x":460,"y":160,"wires":[["7a524966.fef8a"],["9b95ba3f.a43c7"]]},{"id":"fdf5432c.159f9","type":"exec","z":"783e2363.8a8fe4","command":"timecircuitctl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"tcd_control_process","x":1160,"y":180,"wires":[[],[],[]]},{"id":"a2fff5f1.765d3","type":"function","z":"783e2363.8a8fe4","name":"format_args","func":"if(msg.payload)\n    msg.payload=\"set power on\";\nelse\n    msg.payload=\"set power off\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":160,"wires":[["fdf5432c.159f9"]]},{"id":"1dee93de.094e1c","type":"function","z":"783e2363.8a8fe4","name":"format_brightness","func":"msg.payload=\"set brightness \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":200,"wires":[["fdf5432c.159f9"]]},{"id":"9968cd05.524a88","type":"function","z":"783e2363.8a8fe4","name":"check_code","func":"if(msg.payload.code===0)\n    msg.payload=true;\nelse\n    msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":480,"wires":[["9bacf1a4.fb30c8"]]},{"id":"35e71469.a9a734","type":"json","z":"783e2363.8a8fe4","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":220,"wires":[["37d0eed0.0902b2"]]},{"id":"db51803a.98c818","type":"ui_text","z":"1d97907b.e809f8","group":"e002930c.0237f8","order":4,"width":"2","height":"1","name":"fc_on_off_text","label":"","format":"{{msg.payload ? \"ON\":\"OFF\"}}","layout":"col-center","x":1060,"y":100,"wires":[]},{"id":"79694617.b74be","type":"ui_switch","z":"1d97907b.e809f8","name":"fc_power_switch","label":"Power","tooltip":"Set the Flux capacitor on or off","group":"e002930c.0237f8","order":3,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"fc_power","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":100,"wires":[["db51803a.98c818","d7743487.ebf87","697586d7.cb0f48"]]},{"id":"736f6013.39d798","type":"ui_slider","z":"1d97907b.e809f8","name":"fc_brightness_slider","label":"Brightness","tooltip":"Apply brightness to the Flux capacitor","group":"e002930c.0237f8","order":5,"width":"0","height":"0","passthru":true,"outs":"end","topic":"fc_brightness","min":"1","max":"100","step":"1","x":660,"y":240,"wires":[["cd4865c6.955e5"]]},{"id":"7e62cce.e22dcb4","type":"ui_switch","z":"1d97907b.e809f8","name":"fc_service_state","label":"Flux Capacitor Service","tooltip":"","group":"e002930c.0237f8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"close","offcolor":"red","x":920,"y":560,"wires":[[]]},{"id":"9c7ea62e.72a91","type":"function","z":"1d97907b.e809f8","name":"check_code","func":"if(msg.payload.code===0)\n    msg.payload=true;\nelse\n    msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":560,"wires":[["7e62cce.e22dcb4"]]},{"id":"386cb182.809dae","type":"exec","z":"1d97907b.e809f8","command":"fluxcapacitorctl status","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fc_read_service_status","x":490,"y":560,"wires":[[],[],["9c7ea62e.72a91"]]},{"id":"b8975ae0.c14548","type":"inject","z":"1d97907b.e809f8","name":"fc_service_check","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":560,"wires":[["386cb182.809dae"]]},{"id":"61dd996f.d76f8","type":"ui_dropdown","z":"1d97907b.e809f8","name":"fc_animation_selector","label":"Animation","tooltip":"","place":"Select animation","group":"e002930c.0237f8","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"fc_animation","x":660,"y":340,"wires":[["2ecb8f2d.a4ba78"]]},{"id":"cf667948.7601d8","type":"function","z":"1d97907b.e809f8","name":"fc_list_animations","func":"msg.options=[\n    {\"Back to the Future\":0},\n    {\"Rainbow Frenzy\":1},\n    {\"Rainbow ZigZag\":2}];\n    \nmsg.payload=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["61dd996f.d76f8"]]},{"id":"2ecb8f2d.a4ba78","type":"exec","z":"1d97907b.e809f8","command":"fluxcapacitorctl set animation","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fc_set_anim","x":910,"y":340,"wires":[[],[],[]]},{"id":"cd4865c6.955e5","type":"exec","z":"1d97907b.e809f8","command":"fluxcapacitorctl set brightness","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fc_set_brightness","x":930,"y":240,"wires":[[],[],[]]},{"id":"300d997a.cf3cf6","type":"exec","z":"1d97907b.e809f8","command":"fluxcapacitorctl set power","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fc_set_power","x":1000,"y":160,"wires":[[],[],[]]},{"id":"d7743487.ebf87","type":"function","z":"1d97907b.e809f8","name":"fc_power","func":"global.set(\"fc_power\",msg.payload);\nmsg.payload=msg.payload ? \"on\":\"off\";\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":160,"wires":[["300d997a.cf3cf6"]]},{"id":"5c93cbca.6526b4","type":"inject","z":"1d97907b.e809f8","name":"","topic":"fc_brightness","payload":"50","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":170,"y":200,"wires":[["2a538a85.9d705e"]]},{"id":"2a538a85.9d705e","type":"exec","z":"1d97907b.e809f8","command":"cat /home/debian/wbtc_manager/fluxcapacitor/fluxcapacitor.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fc_conf_read","x":210,"y":140,"wires":[["bf696acb.ff2b"],[],[]]},{"id":"a7c514d7.c6212","type":"function","z":"1d97907b.e809f8","name":"fc_parse_state","func":"//Retrieve brightness value\nvar conf=msg.payload;\n\nmsg_power={};\nmsg_brightness={};\nmsg_anim={};\nmsg_power.payload= conf.power === \"on\";\nmsg_brightness.payload=conf.brightness;\nmsg_anim.payload=conf.animation;\n\nreturn [msg_power,msg_brightness,msg_anim];\n","outputs":3,"noerr":0,"x":420,"y":240,"wires":[["79694617.b74be"],["736f6013.39d798"],["cf667948.7601d8"]]},{"id":"bf696acb.ff2b","type":"json","z":"1d97907b.e809f8","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":140,"wires":[["a7c514d7.c6212"]]},{"id":"bf3374c9.0fd898","type":"file in","z":"1d97907b.e809f8","name":"","filename":"/tmp/fcfb","format":"","chunk":false,"sendError":false,"encoding":"none","x":580,"y":660,"wires":[["12cd5645.937712"]]},{"id":"ccabd439.2be31","type":"ui_template","z":"1d97907b.e809f8","group":"e002930c.0237f8","name":"fc_direct_animation","order":7,"width":"0","height":"0","format":"<div>\n    <center><p><b>Direct Preview</b></p></center>\n</div>\n<div>\n<center>\n    <canvas id=\"myCanvas\" width=\"250\" height=\"250\" >\n    Your browser does not support the HTML5 canvas tag.</canvas>\n</center>\n<script>\n(function(scope) {\n    var c = document.getElementById(\"myCanvas\");\n    var ctx = c.getContext(\"2d\");\n    //Center of the cross\n    var cx=c.width/2;\n    var cy=c.height/2 - c.height/20;\n    \n    //bar length in pixels\n    var B=c.height/2;\n    var ledW=B/8\n        \n    function drawBar(angle,colors)\n    {\n        ctx.save();\n        //Translate to center with slight offset for the rectangles\n        ctx.beginPath();\n        ctx.translate(cx,cy);\n        var alpha=angle*Math.PI/180;\n        ctx.rotate(alpha);\n        ctx.translate(ledW/3,0);\n            \n        ctx.lineWidth = 1;\n        ctx.strokeStyle = 'black';\n        for(var i=0;i<8;i++){\n        \tctx.beginPath();\n            ctx.fillStyle=colors[i%colors.length];\n        \tctx.rect(i*ledW,-ledW/2,ledW,ledW);\n                \n            ctx.closePath();\n                \n            ctx.fill();\n            ctx.stroke();\n        }\n        ctx.restore();\n    }\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        if(msg===undefined) return;\n        \n        var pixels=msg.payload;\n            \n        drawBar(90,pixels.slice(0,8).reverse()); //Bottom bar\n        drawBar(-30,pixels.slice(8,16)); //Top right bar\n        drawBar(-150,pixels.slice(16,24)); //Top left bar\n        \n    });\n})(scope);\n</script>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":660,"wires":[[]]},{"id":"12cd5645.937712","type":"function","z":"1d97907b.e809f8","name":"display_colors","func":"colors=[];\nrawcolors=msg.payload;\n\nfunction toHex(byte){\n    if(byte < 0xF)\n        return '0'+byte.toString(16);\n    else\n        return byte.toString(16);\n}\n\nfunction toColor(r,g,b){\n\n    return \"#\" +toHex(r)+toHex(g)+toHex(b);\n}\n\nfor(var i=0;i<(rawcolors.length);i+=3)\n{\n\n    colors.push(toColor(\n        rawcolors[i],rawcolors[i+1],rawcolors[i+2]\n        ));\n\n    \n    \n}\n\nmsg.payload = colors;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":660,"wires":[["ccabd439.2be31"]]},{"id":"511a14db.fb1674","type":"function","z":"1d97907b.e809f8","name":"colors_off","func":"colors=[];\n\nfor(var i=0;i<24;i+=3)\n{\n    colors.push('#000000');\n}\n\nmsg.payload = colors;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":720,"wires":[["ccabd439.2be31"]]},{"id":"9691bc34.d1ede8","type":"switch","z":"1d97907b.e809f8","name":"check_on","property":"fc_power","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":660,"wires":[["bf3374c9.0fd898"]]},{"id":"697586d7.cb0f48","type":"link out","z":"1d97907b.e809f8","name":"fc_power_out","links":["cdba3a0c.4877f"],"x":835,"y":40,"wires":[]},{"id":"cdba3a0c.4877f","type":"link in","z":"1d97907b.e809f8","name":"fc_power_in","links":["697586d7.cb0f48"],"x":615,"y":720,"wires":[["511a14db.fb1674"]]},{"id":"598666ee.b23f1","type":"watch","z":"1d97907b.e809f8","name":"","files":"/tmp/fcfb","recursive":"","x":120,"y":660,"wires":[["67c3286a.3e847"]]},{"id":"e563abd2.426698","type":"exec","z":"89d4c97a.d8a1c8","command":"timedatectl list-timezones","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"list_timezones","x":340,"y":40,"wires":[["4cdbdb5e.7114fc"],[],[]]},{"id":"c720a8ac.0042f8","type":"inject","z":"89d4c97a.d8a1c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":40,"wires":[["e563abd2.426698"]]},{"id":"4cdbdb5e.7114fc","type":"function","z":"89d4c97a.d8a1c8","name":"timezones_choices","func":"\nreturn {options:msg.payload.split(\"\\n\")};","outputs":1,"noerr":0,"x":560,"y":40,"wires":[["adc6ff7e.15d578"]]},{"id":"952a1fad.aa4aa","type":"ui_dropdown","z":"89d4c97a.d8a1c8","name":"time_timezone_select","label":"","tooltip":"","place":"Select Timezone","group":"cadc43d6.955288","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":800,"y":100,"wires":[["514532a9.ff067c"]]},{"id":"adc6ff7e.15d578","type":"exec","z":"89d4c97a.d8a1c8","command":"timedatectl show | grep Timezone | cut -d= -f2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get_current_timezone","x":320,"y":160,"wires":[["fa4d041a.a80e18"],[],[]]},{"id":"fa4d041a.a80e18","type":"function","z":"89d4c97a.d8a1c8","name":"trim_timezone","func":"msg.payload=msg.payload.trim();\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[["1a6fd6ff.422059","952a1fad.aa4aa"]]},{"id":"62d83886.018fa","type":"inject","z":"89d4c97a.d8a1c8","name":"time_ntp_enabled_check","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":660,"wires":[["7e3e72fd.ac3e0c"]]},{"id":"7e3e72fd.ac3e0c","type":"exec","z":"89d4c97a.d8a1c8","command":"timedatectl show | grep \"^NTP\" | cut -d= -f 2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"time_ntp_enabled_check","x":450,"y":660,"wires":[["85b0899d.6c00f"],[],[]]},{"id":"dc52d2ee.055e7","type":"ui_switch","z":"89d4c97a.d8a1c8","name":"time_ntp_enabled_switch_visu","label":"NTP Enabled","tooltip":"","group":"cadc43d6.955288","order":1,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"close","offcolor":"red","x":990,"y":620,"wires":[[]]},{"id":"dc65c56a.939ff8","type":"ui_switch","z":"89d4c97a.d8a1c8","name":"time_ntp_synchronised_switch_visu","label":"NTP  Sync","tooltip":"","group":"cadc43d6.955288","order":2,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"close","offcolor":"red","x":1010,"y":700,"wires":[[]]},{"id":"85b0899d.6c00f","type":"function","z":"89d4c97a.d8a1c8","name":"time_ntp_extract_states","func":"\n// Payload is the return from ntp check function\n//line 1 = ntp enabled yes/no\n//line 2 = ntp synchronised yes/no\nvar states = msg.payload.split(\"\\n\");\n\nvar msg_ntp_enabled={};\nvar msg_ntp_synchronised={};\nmsg_ntp_enabled.payload= (states[0]===\"yes\");\nmsg_ntp_synchronised.payload = (states[1]===\"yes\");\n\n//output 1 = synchronised state\n//output 2 = enabled state\nreturn [msg_ntp_enabled,msg_ntp_synchronised];","outputs":2,"noerr":0,"x":710,"y":660,"wires":[["dc52d2ee.055e7"],["dc65c56a.939ff8"]]},{"id":"f9956d5a.ef813","type":"ui_button","z":"89d4c97a.d8a1c8","name":"time_valid_settings","group":"cadc43d6.955288","order":6,"width":"3","height":"1","passthru":false,"label":"Apply","tooltip":"","color":"","bgcolor":"#009900","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":300,"wires":[["87866f04.961c08","c317d93a.c594e"]]},{"id":"e5faca13.7fc858","type":"ui_button","z":"89d4c97a.d8a1c8","name":"time_default_settings","group":"cadc43d6.955288","order":7,"width":"3","height":"1","passthru":false,"label":"Default","tooltip":"","color":"","bgcolor":"#595959","icon":"","payload":"","payloadType":"str","topic":"","x":520,"y":240,"wires":[["230abbab.143c9c"]]},{"id":"1a6fd6ff.422059","type":"ui_text","z":"89d4c97a.d8a1c8","group":"cadc43d6.955288","order":3,"width":0,"height":0,"name":"time_current_timezone","label":"Current Timezone","format":"{{msg.payload}}","layout":"col-center","x":790,"y":180,"wires":[]},{"id":"e177c299.f148d","type":"link in","z":"89d4c97a.d8a1c8","name":"update_timezone","links":["73a4761b.979508","230abbab.143c9c"],"x":115,"y":160,"wires":[["adc6ff7e.15d578","effa22d0.a6de58"]]},{"id":"6f765053.9763a","type":"exec","z":"89d4c97a.d8a1c8","command":"sudo timedatectl set-timezone","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"time_apply_timezone","x":1000,"y":300,"wires":[[],[],["40e4494.e389db8"]]},{"id":"514532a9.ff067c","type":"function","z":"89d4c97a.d8a1c8","name":"store_timezone","func":"flow.set(\"timezone\",msg.payload);\nreturn msg;","outputs":0,"noerr":0,"x":1040,"y":100,"wires":[]},{"id":"73a4761b.979508","type":"link out","z":"89d4c97a.d8a1c8","name":"","links":["e177c299.f148d"],"x":1315,"y":320,"wires":[]},{"id":"87866f04.961c08","type":"function","z":"89d4c97a.d8a1c8","name":"read_selected_timezone","func":"msg.payload=flow.get(\"timezone\");\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["6f765053.9763a"]]},{"id":"b0adde84.81bd3","type":"file in","z":"783e2363.8a8fe4","name":"tcd_conf_read","filename":"/home/debian/wbtc_manager/timecircuit/timecircuit.conf","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":220,"y":220,"wires":[["35e71469.a9a734"]]},{"id":"67c3286a.3e847","type":"delay","z":"1d97907b.e809f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"30","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":280,"y":680,"wires":[["9691bc34.d1ede8"]]},{"id":"27a1f9b9.c3b67e","type":"ui_template","z":"89d4c97a.d8a1c8","group":"cadc43d6.955288","name":"datetime_input","order":5,"width":"0","height":"0","format":"<script>\n(function(scope){\n    \n    var timeInput=this.document.getElementById(\"timeInput\");\n    var dateInput=this.document.getElementById(\"dateInput\");\n    scope.disabled=false;\n    \n    //Set app style\n    scope.styleApp = {\n            \"color\" : this.document.theme.themeState[\"widget-textColor\"].value,\n            \"border-bottom-color\": this.document.theme.themeState[\"base-color\"].value,\n            \"font\":this.document.theme.themeState[\"base-font\"].value,\n            \"font-size\": \"100%\"\n    };\n    \n    scope.checkTime=function()\n    {\n        \n        timeInput.value=timeInput.value.slice(0,5);\n        \n        var time=timeInput.value+\":00\";\n        var date=dateInput.value;\n        \n        console.log(time);\n        console.log(date);\n        \n        if(time.length !== 8)\n            return;\n            \n        if(date.length !== 10)\n            return;\n        \n        var datetime=date+\" \"+time;\n        \n        \n        scope.send({payload:datetime});\n        \n    }\n    \n    //Watch for incoming messages with templateScope set\n    scope.$watch('msg', function(msg) {\n        // new message received\n        \n        if(msg===undefined){ \n            console.log(\"msg undefined\");\n            return;\n        }\n        \n        if(msg.templateScope === undefined){\n           console.log(\"No scope\");\n           return; \n        } \n        \n        if(msg.enable !== undefined)\n        {\n            scope.disabled=msg.enable ? false:true;\n        }\n        \n        if(typeof(msg.payload) !==\"string\")\n            return;\n    \n        //console.log(\"msg rx\");\n        //console.log(msg);\n        \n        var datetime=msg.payload.trim().split(\" \");\n        console.log(datetime);\n        \n        //console.log(timeInput);\n        \n        timeInput.value=datetime[1];\n        //scope.dateValue=datetime[0]; \n        dateInput.value=datetime[0];\n    });\n    \n})(scope);\n\n</script>\n\n<div layout=\"row\">\n    <md-input-container class=\"md-input-has-placeholder\" flex=\"50\">\n        <label ng-style=\"styleApp\">Time</label>\n            <input\n                id=\"timeInput\"\n                ng-disabled=\"disabled\"\n                ng-style=\"styleApp\"\n                type=\"time\" \n                name=\"timeInput\" \n                ng-model=\"timeValue\" \n                ng-change=\"checkTime()\">\n    </md-input-container>\n    <md-input-container class=\"md-input-has-placeholder\" flex=\"50\">\n        <label ng-style=\"styleApp\">Date</label>\n            <input\n                id=\"dateInput\"\n                ng-disabled=\"disabled\"\n                ng-style=\"styleApp\"\n                type=\"date\" \n                name=\"dateInput\" \n                ng-model=\"dateValue\" \n                ng-change=\"checkTime()\">\n    </md-input-container>\n    \n</div>\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":520,"y":400,"wires":[["316f3d62.c8f4ea"]]},{"id":"699d3754.1ff06","type":"exec","z":"89d4c97a.d8a1c8","command":"sudo date","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"time_apply_datetime","x":1000,"y":360,"wires":[[],[],[]]},{"id":"316f3d62.c8f4ea","type":"function","z":"89d4c97a.d8a1c8","name":"store_timezone","func":"flow.set(\"datetime\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":400,"wires":[[]]},{"id":"c317d93a.c594e","type":"function","z":"89d4c97a.d8a1c8","name":"read_selected_datetime","func":"var datetime=flow.get(\"datetime\");\n    \nmsg.payload=\"--set=\\\"\"+datetime+\"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":340,"wires":[["699d3754.1ff06"]]},{"id":"acf4d429.052fc8","type":"function","z":"89d4c97a.d8a1c8","name":"enable","func":"msg.enable=true;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["27a1f9b9.c3b67e"]]},{"id":"62fedc16.8ad36c","type":"function","z":"89d4c97a.d8a1c8","name":"disable","func":"msg.enable=false;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":520,"wires":[["27a1f9b9.c3b67e"]]},{"id":"6d85e5e.17dc61c","type":"inject","z":"89d4c97a.d8a1c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["62fedc16.8ad36c"]]},{"id":"230abbab.143c9c","type":"link out","z":"89d4c97a.d8a1c8","name":"","links":["e177c299.f148d"],"x":675,"y":240,"wires":[]},{"id":"effa22d0.a6de58","type":"exec","z":"89d4c97a.d8a1c8","command":" date +\"%Y-%m-%d %H:%M\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get_current_date","x":290,"y":320,"wires":[["27a1f9b9.c3b67e","6f143b1d.eedacc"],[],[]]},{"id":"7f95629f.2e57ac","type":"ui_ui_control","z":"89d4c97a.d8a1c8","name":"","events":"connect","x":100,"y":360,"wires":[["acf4d429.052fc8","effa22d0.a6de58"]]},{"id":"6f143b1d.eedacc","type":"debug","z":"89d4c97a.d8a1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":520,"wires":[]},{"id":"40e4494.e389db8","type":"delay","z":"89d4c97a.d8a1c8","name":"","pauseType":"delay","timeout":"0.02","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":320,"wires":[["73a4761b.979508"]]}]